<div>
  <div>
    Top {{ booksList.length }} book{{ booksList.length > 1 ? 's' : '' }} on
    {{ subjectName }}
  </div>

  <div *ngIf="loading; else dataLoaded">
    <section class="tw-hero tw-container tw-flex tw-justify-center">
      <img src="assets/loader.svg" />
    </section>
  </div>

  <ng-template #dataLoaded>
    <table class="table-view">
      <thead>
        <tr class="table-row">
          <th class="header">Title and Sub Title</th>
          <th class="header">Author</th>
          <th class="header">First Publish Year</th>
        </tr>
      </thead>

      <tbody class="table-body">
        <tr
          *ngFor="
            let book of booksList
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
          class="row-data"
        >
          <td>
            <a
              class="tw-no-underline tw-font-semibold tw-text-blue-600 tw-dark:text-blue-500 tw-hover:underline"
              href="https://openlibrary.org{{ book.key }}"
              target="_blank"
              >{{ book.title }}</a
            >
          </td>
          <td class="tw-text-current">
            {{
              book.author_name &&
                book.author_name.length > 0 &&
                book.author_name[0]
            }}
            {{
              book.authors && book.authors.length > 0 && book.authors[0].name
            }}
          </td>
          <td class="tw-text-current">{{ book.first_publish_year }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </ng-template>
</div>
